.logo {
  display: inline-flex;
  width: 12vw;
  height: 7vh;
  padding: 5px;
}

.splash {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}
.splash-img {
  width: 78vw;
  height: 92vh;
}

.splash-button {
  position: absolute;
  top: 34vw;
  left: 24vw;
  width: 11vw;
  height: 6vh;
  background-color: white;
  border-radius: 33px;
    

  h1{
    font-family: sans-serif;
    text-align: center;
    font-weight: 900;
    font-size: larger;
    padding-top: 12px;
  }
}

.splash-button:hover{
  cursor: pointer;
}