.logo {
  display: inline-flex;
  width: 12vw;
  height: 7vh;
  padding: 5px;
}

.splash {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}
.splash-img {
  width: 40vw;
  height: 80vh;
}