
.splash {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.splash-img-container{
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 25%;
  background: linear-gradient(0deg, rgba(255,255,255,0.8603816526610644) 5%, rgba(0,0,0,0.9475140397956058) 30%);
    
  .splash-img {
    width: 84vw;
    height: 90vh;
    object-fit: cover;
  }
}

.splash-button {
  width: 15vw;
  height: 4vh;
  background-color: white;
  border-radius: 33px;
  font-family: sans-serif;
  font-size: 1.5vw;
  text-align: center;
  padding: 10px;
  padding-top: 18px;
  color: black;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.splash-button:hover{
  cursor: pointer;
  background-color: #eeeeee;
}

.splash-text {
  color: white;
  font-family: sans-serif;
  font-weight: 700;
  position: absolute;
  left: 17%;
  top: 14%;
  font-size: 3vw;
  display: flex;
  flex-direction: column;
}


