.splash-footer-container{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 2%;
  background-color: #f7f7f7;
}

.footer-title{
  font-size: 0.8vw;
  font-weight: 600;
}

.social{
  >.links >a >.link-img{
    width: 30%;
    padding: 2% 0;
  }
}

.contact{
  .info > div{
    padding: 2% 0;
  }
}