
.super-host-container{
  width: 84vw;
  padding: 2vw;
  position: relative;

  .super-host-img{
    border-radius: 8px;
    width: 99%;
    position: relative;
  }

  .super-host-text{
    position: absolute;
    top: 12%;
    right: 8%;

    div{
      color: white;
      font-size: 5vw;
      font-weight: 600;
    }

    a{
      padding: 7%;
      background-color: white;
      border-radius: 15px;
      font-size: 1.5vw;
      font-weight: 600;
      position: absolute;
      top: 64vh;
    }

    a:hover{
      background-color: #eeeeee;
    }
  }
}