.splash-footer-container{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 2%;
  background-color: #f7f7f7;
}

.footer-title{
  font-size: 0.8vw;
  font-weight: 600;
}

.social{
  >.links >a >.link-img{
    width: 30%;
    padding: 2% 0;
  }
}

.contact{
  .info > div{
    padding: 2% 0;
  }
}

.projects{
  width: 20%;

  >a{
    margin-top: 1vh;
  }

  >a>div:first-child{
    font-weight: 600;
    font-size: 0.8vw;
    margin-top: 1vh;
    color: blue;
  }

  >a>div:first-child:hover{
    color: #F50B7C;
  }

  >a>div:nth-child(2){
    font-size: 0.7vw;
  }
}

.tech-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1vh;

  >div:hover{
    color: #F50B7C;
  }
}