.carousel{
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  position: relative;
  

  .carousel-img {
    width: 19vw;
    height: 21vw;
    border-radius: 13px;
    object-fit: cover;
    animation: fadeIn 1.5s;
    -webkit-animation: fadeIn 1.5s;
    -moz-animation: fadeIn 1.5s;
    -o-animation: fadeIn 1.5s;
    -ms-animation: fadeIn 1.5s;
    
    @keyframes fadeIn {
      0% {opacity:0;}
      100% {opacity:1;}
    }
  }
}
  
.carousel-control-prev{
  z-index: 5;
  position: absolute;
  left: 1vw;
  top: 10vw;
  background-color: white;
  color: rgb(34, 34, 34);
  cursor: pointer;

  border-radius: 22px;
  width: 30px;
  height: 30px;
  font-family: cursive;
  text-align: -webkit-center;
  font-size: larger;
}

.carousel-control-next{
  z-index: 5;
  position: absolute;
  right: 5vw;
  top: 10vw;
  background-color: white;
  color: rgb(34, 34, 34);
  cursor: pointer;

  border-radius: 22px;
  width: 30px;
  height: 30px;
  font-family: cursive;
  text-align: -webkit-center;
  font-size: larger;
}

