.carousel{
  padding: 10px;
  display: flex;
  flex-direction: row;
  position: relative;

  .carousel-img {
    width: 19vw;
    height: 21vw;
    border-radius: 13px;
  }
}
  
.carousel-control-prev{
  z-index: 5;
  position: absolute;
  left: 1vw;
  top: 10vw;
  background-color: white;
}

.carousel-control-next{
  z-index: 5;
  position: absolute;
  right: 4vw;
  top: 10vw;
  background-color: white;
}