.show-page{
  display: flex;
  flex-direction: column;
  margin-left: 20vw;
  margin-right: 20vw;

  >div:first-child{
    margin-top: 10px;
  }

  .update-button{
    background-color: #E30C79;
    border-radius: 10px;
    font-size: 1vw;
    position: absolute;
    left: 63vw;
    color: white;
    width: 7vw;
    height: 4vh;
    text-align: center;
  }
  .update-button:hover{
    background-color: #F50B7C;
  }

  .delete-button{
    background-color: #E30C79;
    border-radius: 10px;
    font-size: 1vw;
    position: absolute;
    left: 71vw;
    color: white;
    width: 7vw;
    height: 4vh;
    text-align: center;
  }
  .delete-button:hover{
    background-color: #F50B7C;
  }
}

.listing-title{
  font-family: sans-serif;
  font-size: 1.5vw;
  font-weight: bold;
}

.listing-city{
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.listing-images{
  display: flex;

  .images-1{
    width: 28vw;
    height: 61vh;
    object-fit: cover;
    padding-right: 0.5vw;
    border-radius: 10px;
  }

  .images-1:hover{
    filter: brightness(80%);
    transition: all 1s ease;
  }

  .images-4{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2);
    column-gap: 4px;

    >img{
      object-fit: cover;
      width: 15vw;
      height: 30vh;
    }

    >img:hover{
      filter: brightness(80%);
      transition: all 1s ease;
    }

    >img:nth-child(2){
      border-radius: 0px 10px 0px 0px;
    }

    >img:nth-child(4){
      border-radius: 0px 0px 10px 0px;
    }
  }

  
}

.listing-info{
  display: flex;

  .listing-info2 {
    font-size: 1.2vw;
    font-weight: 600;
    padding: 5vh 1vw 1vh 1vw;
    width: 65%;

    .up-to{
      font-size: 1vw;
      font-weight: 100;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .description{
      font-size: 1vw;
      font-weight: 100;
      white-space: pre-wrap;
    }
  }

  .icons > div{
    display: flex;
    margin: -38px;
    margin-left: 0;

    i{
      padding-top: 2.5vw;
    }

      >div{
        display: flex;
        flex-direction: column;
        padding-left: 1vw;

      >h5{
        font-size: 0.9vw;
        margin-bottom: -2vh;
      }
      
      >h4{
        font-size: 0.8vw;
        font-weight: 100;
        color: gray;
      }
    }
  }

  .icons > div:last-child{
    margin-bottom: 0;

    i{
      padding-top: 4vh;
      padding-bottom: 1vh;
    }

    >div>h5{
      margin-left: 0.5vw;
    }
  }

  .line{
    background-color: #cbcaca;
    margin-bottom: 2vh;
    margin-left: 0vh;
    margin-right: 7vw;
    height: 0.05vw;
    width: 100%;
  }

}

.offers-title{
  font-size: 1.2vw;
}

.offers{
  display: grid;
  grid-template-columns: 1fr 15fr 1fr 15fr;
  row-gap: 1vh;
  column-gap: 1vw;

  >h5{
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 100;
  }
}
// ==========================================REVIEWS
.reviews{
  display: flex;
  flex-direction: column;
}
.reviews-title{
  display: flex;

  h4{
    margin-top: 0;
  }

  .dot{
    margin-left: 0.5vw;
    margin-right: 0.5vw;
  }
}

.reviews-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

