.listings-create{
  display: flex;
  position: relative;
}

.sidebar{
  width: 50vw;

  .sidebar-bg{
    height: 91vh;
    display: flex;
    flex-direction: column;
    
    > h1{
      background-image: linear-gradient(#E61E4D 5.66%, #3B07BB 94.35%);

      color: white;
      font-weight: 600;
      font-size: 2vw;
      padding: 3vw;
      padding-left: 3vw;
      padding-top: 71vh;
      padding-bottom: 16vh;
    }
  }

}
// ===================================
.listings-new-form{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  right: -5vw;
  width: 22vw;

  .listing-title{
    padding-top: 28vh;
    padding-left: 3vw;

    textarea{
      width: 31vw;
      height: 12vh;
      border: 1px rgb(119, 119, 119) solid;
      border-radius: 8px;
      padding: 1vw;
      margin-top: 3vh;
      font-weight: 100;
      font-size: 1.2vw;
    }
  }
  
  .listing-description{
    padding-top: 28vh;
    padding-left: 3vw;
  }
  
// start of address==============
  .listing-address-bg{
    background-image: url("https://res.cloudinary.com/de8carnhu/image/upload/v1638226032/map_qnxr2f.png");
    display: block;
    width: 49vw;
    height: 80vh;
    margin-left: -5vw;
  }
  
  .listing-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: white;
    border: solid 1px gray;
    border-radius: 17px;
    width: 33vw;
    height: 46vh;
    margin: 6vh;
    margin-left: 8vw;
    margin-top: 15vh;

    >h2{
      font-weight: 600;
      font-size: larger;
    }

    .listing-info{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 2vw;
      border: 1px solid black;
      border-radius: 8px;
      width: 30vw;
      
      >div{
        width: -webkit-fill-available;
        border-bottom: 1px solid black;
        padding: 0.5vw;

        >h5{
          margin: 0;
          margin-bottom: 9px;
          font-weight: 100;
          color: #4e4e4e;
        }
      }
      
      >div:last-child{
        border-bottom: none;
      }
  }

  }
  // end of address===============
  .add-guest{
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    margin-left: 5vw;
    margin-top: 35vh;

    >h1{
      width: 20vw;
      font-size: 1.5vw;
    }

    .dog-count{
      display: flex;
      font-size: 1.5vw;

      >div{
        margin-right: 1vw;
      }
      >div:first-child{
        border: 1px solid black;
        border-radius: 50%;
        width: 1.5vw;
        height: 3vh;
        text-align: center;
      }
      >div:last-child{
        border: 1px solid black;
        border-radius: 50%;
        width: 1.5vw;
        height: 3vh;
        text-align: center;
      }
    }
  }

  .cost-input{
    position: absolute;
    top: 211vh;
  }

  .cost-per-night{
    position: absolute;
    top: 220vh;
    font-family: sans-serif;
    margin: 0;
    margin-bottom: 8px;
  }

  .price-range1{
    position: absolute;
    top: 228vh;
    font-family: sans-serif;
    text-align: center;
    margin: 0;
  }
  .price-range2{
    position: absolute;
    top: 230vh;
    font-family: sans-serif;
    text-align: center;
    margin: 0;
  }

}

.finish-button{
  position: absolute;
  top: 236vh;
  left: 32vw;
  font-family: sans-serif;
  border: black solid 1px;
  border-radius: 8px;
  width: 5vw;
  height: 4vh;
  text-align: center;
  font-weight: 600;
  background-color: #f7477b;
}

.listing-create-errors{
  position: absolute;
  bottom: -139vh;
  top: 222vh;
  left: 86vw;
  display: flex;
  flex-direction: column;
  color: red;
  list-style: square;
}

.buttons{
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 91vh;

  >div{
    width: 33vw;
  }

  >button:first-child{
    text-decoration: underline;
    font-weight: 600;
  }

  >button:last-child{
    border-radius: 8px;
    padding: 1vw;
    background-color: rgb(0, 0, 0);
    color: white;
    width: 3vw;
    text-align: center;
  }
}