.show-page{
  display: flex;
  flex-direction: column;
  margin-left: 20vw;
  margin-right: 20vw;

  .delete-button{
    background-color: rgb(99, 99, 99);
    border-radius: 10px;
    font-size: 1vw;
    position: absolute;
    left: 73vw;
    color: white;
    width: 7vw;
    height: 4vh;
    text-align: center;
  }
}

.listing-title{
  font-family: sans-serif;
  font-size: 1.5vw;
  font-weight: bold;
}

.listing-images{
  display: flex;

  .images-1{
    width: 590vw;
    height: 61vh;
    object-fit: cover;
    padding-right: 0.5vw;
    border-radius: 10px;
  }

  .images-1:hover{
    filter: brightness(80%);
    transition: all 1s ease;
  }

  .images-4{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 285px);
    column-gap: 10px;

    >img{
      object-fit: cover;
      width: 15vw;
      height: 30vh;
    }

    >img:hover{
      filter: brightness(80%);
      transition: all 1s ease;
    }

    >img:nth-child(2){
      border-radius: 0px 10px 0px 0px;
    }

    >img:nth-child(4){
      border-radius: 0px 0px 10px 0px;
    }
  }

  
}

.listing-info{
  display: flex;


  .listing-info2 {
    font-size: 1.2vw;
    font-weight: 600;
    padding-top: 5vh;
    padding-bottom: 1vh;
    width: 45vw;

    div:nth-child(2){
      font-size: 1vw;
      font-weight: 100;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    div:last-child{
      font-size: 1vw;
      font-weight: 100;
    }
  }

  .line{
    background-color: #cbcaca;
    margin-bottom: 2vh;
    margin-left: 0vh;
    margin-right: 7vw;
    height: 0.05vw;
  }

}

.sticky-parent{
  position: relative;

  .reservation-info{
    position: sticky;
    position: -webkit-sticky;
    top: 5vh;
    padding-top: 3vh;
    border: 0.5px solid #c7c7c7;
    border-radius: 10px;
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 5vw;
    box-shadow: 0px 2px 3px 3px rgb(204, 204, 204);

    .check-in-out{
      text-align: center;
      border: 1px solid gray;
      border-radius: 4px;
      width: 11vw;
      height: 11vh;

      .check-in-out-container{
        display: flex;
        justify-content: space-evenly;
        height: 6vh;

        #check-in{
          border-right: 1px solid gray;
          width: 5vw;
        }

      }

      .select-guests{
        padding-top: 2vh;
        border-top: 1px solid gray;
      }
    }

    .price{
      padding-bottom: 2vh;
      font-size: 2.5vh;
    }
  }
}