
.listings-index {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 23vw);
}

.listings-index-link {
  font-family: sans-serif;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  
  .info{
    display: flex;
    justify-content: space-evenly;
  }
  .city {
    font-size: 1.3vw;
    line-height: 1.43;
    color: #484848;
    font-weight: 600;
  }
  .price {
    font-size: 1vw;
  }
}