
.listings-index {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 23vw);
  padding: 0 5%;
}

.listings-index-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.listing-link{
  width: 80%;
}

.listings-index-link {
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
  
  .info{
    display: flex;
    justify-content: space-evenly;
  }
  .city {
    color: #484848;
    font-weight: 600;
  }
  .price {
    font-size: 95%;
    padding-top: 2px;
  }
  .title{
    margin-bottom: 20px;
    width: 80%;
  }
  
}

.user-listing-address{
  .line{
    width: 90%;
    margin-left: 20px;
  }
}