.listings-create{
  display: flex;
  position: relative;
}

.sidebar{
  width: 50vw;

  .sidebar-bg{
    height: 91vh;
    display: flex;
    flex-direction: column;
    
    > h1{
      background-image: linear-gradient(#E61E4D 5.66%, #3B07BB 94.35%);
      background-size: cover;
      background-repeat: no-repeat;
    
      color: white;
      text-shadow: 1px 1px 0px #1b1b1b;
      font-weight: 600;
      font-size: 2vw;
      padding: 3vw;
      padding-left: 3vw;
      padding-top: 71vh;
      padding-bottom: 16vh;
    }
  }

}
// ===================================
.listings-new-form{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  right: -5vw;
  width: 22vw;

  .listing-title{
    padding-top: 28vh;
    padding-left: 3vw;

    textarea{
      width: 31vw;
      height: 12vh;
      border: 1px rgb(119, 119, 119) solid;
      border-radius: 8px;
      padding: 1vw;
      margin-top: 3vh;
      font-weight: 100;
      font-size: 1.2vw;
    }
  }
  
  .listing-description{
    padding-top: 28vh;
    padding-left: 3vw;
  }
  
// start of address==============
  .listing-address-bg{
    background-image: url("https://res.cloudinary.com/de8carnhu/image/upload/v1638226032/map_qnxr2f.png");
    display: block;
    width: 49vw;
    height: 80vh;
    margin-left: -5vw;
  }
  
  .listing-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: white;
    border: solid 1px gray;
    border-radius: 17px;
    width: 33vw;
    height: 46vh;
    margin: 6vh;
    margin-left: 8vw;
    margin-top: 15vh;

    >h2{
      font-weight: 600;
      font-size: larger;
    }

    .listing-info{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 2vw;
      border: 1px solid black;
      border-radius: 8px;
      width: 30vw;
      
      >div{
        width: -webkit-fill-available;
        border-bottom: 1px solid black;
        padding: 0.5vw;

        >h5{
          margin: 0;
          margin-bottom: 9px;
          font-weight: 100;
          color: #4e4e4e;
        }

        >input{
          width: inherit;
        }
      }
      
      >div:last-child{
        border-bottom: none;
      }
  }

  }
  // end of address===============
  .add-guest{
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    margin-left: 5vw;
    margin-top: 35vh;

    >h1{
      width: 20vw;
      font-size: 1.5vw;
    }

    .dog-count{
      display: flex;
      font-size: 1.5vw;

      >div{
        margin-right: 1vw;
      }
      
    }
  }

  .price{
    flex-direction: column;
    margin-top: 33vh;
    margin-left: 10vw;
    width: max-content;

    .price-counter{
      display: flex;
      justify-content: space-between;

      div:nth-child(2){
        border: 1px solid gray;
        font-weight: 600;
        font-size: 3vw;
        padding-left: 6vw;
        padding-right: 6vw;
        border-radius: 10px;
        padding-top: 1vh;
        padding-bottom: 1vh;
      }

      #subtract{
        font-size: 1.5vw;
        width: 2.5vw;
        height: 4.5vh;
        margin-top: 1vh;
        padding-top: 0.5vh;
        margin-right: 1vw;
      }
      #add{
        font-size: 1.5vw;
        width: 2.5vw;
        height: 4.5vh;
        margin-top: 1vh;
        padding-top: 0.5vh;
        margin-left: 1vw;
      }

    }

    .price-range{
      font-family: sans-serif;
      text-align: center;
      margin: 0;

      >h5{
        font-size: 1vw;
        font-weight: 100;
        margin-top: 0;
      }
    }
  }
}

.buttons-container{
  border-top: 1px solid gray;
  width: -webkit-fill-available;
  margin-top: 75vh;
  margin-left: -5vw;
  position: fixed;
}
.buttons{
  display: flex;
  justify-content: space-between;
  position: fixed;
  padding-left: 4vw;
  padding-top: 20px;
  >div{
    width: 33vw;
  }

  >button:first-child{
    text-decoration: underline;
    font-weight: 600;
    padding: 1vw;
  }

  >button:last-child{
    border-radius: 8px;
    background-color: rgb(0, 0, 0);
    color: white;
    width: 5vw;
    text-align: center;
  }
}

#subtract{
  border: 1px solid gray;
  border-radius: 50%;
  width: 1.5vw;
  height: 3vh;
  text-align: center;
}
#add{
  border: 1px solid gray;
  border-radius: 50%;
  width: 1.5vw;
  height: 3vh;
  text-align: center;
}

.listing-create-errors{
  position: absolute;
  top: 68vh;
  left: 87vw;
  display: flex;
  flex-direction: column;
  color: red;
  list-style: square;
}

.finish-button{
  position: absolute;
  top: 82.5vh;
  left: 38vw;
  font-family: sans-serif;
  border: black solid 1px;
  border-radius: 8px;
  width: 5vw;
  height: 5.5vh;
  text-align: center;
  font-weight: 600;
  background-color: #f7477b;
}

.photos{
  display: flex;
  margin-top: 10vh;

  .inner-photo{
    display: flex;
    flex-direction: column;

    h1{
      font-weight: 600;
      font-size: 1vw;
      margin: 1vw;
    }

    .imgs{
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      >img{
        width: 10vw;
        height: 10vh;
      }
    }
  }
}
