// Place all the styles related to the Listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.listings-index {
  display: flex;
  justify-content: flex-start;
}

.listings-index-link {
  font-family: sans-serif;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  
  .info{
    display: flex;
    justify-content: space-evenly;
  }
  .title {
    font-size: 18px;
    line-height: 1.43;
    color: #484848;
    font-weight: 600;
  }
  .price {
    font-size: 17px;
  }
}