#map-container{
  width: 100%;
  height: 20%;
}

.gm-style .gm-style-iw{
  padding: 0px;
  // width: 320px;
  // height: 315px;
}

button.gm-ui-hover-effect {
  visibility: hidden;
}

.gm-style-iw-d {
  overflow: hidden !important;
}

.poi-info-window {
  padding: 10px;
}

.info-window-text{
  padding: 10px;
  width: 320px;
}