.navbar-input {
  border: 1px solid black;
  border-radius: 22px;
  position: absolute;
  top: 2vh;
  left: 34vw;
  width: 32vw;
  height: 2vh;
  padding: 13px;
}

.navbar-input:hover {
  box-shadow: 5px 5px 5px #888888
}

.navbar-img {
  position: absolute;
  top: 2.5vh;
  left: 65vw;
  width: 2vw;
  height: 3vh;
  border-radius: 33px;
}

.navbar-img:hover {
  cursor: pointer;
  box-shadow: 5px 5px 5px #888888
}

.linked-in{
  width: 4vw;
  height: 7vh;
  position: absolute;
  top: 1vh;
  right: 9vw;
}

.github{
  position: absolute;
  top: 1vh;
  right: 14vw;
  width: 4vw;
  height: 7vh;
}