.update-parent{

  .check-in-out{
    text-align: center;

    .update-line{
      background-color: #cccccc;
      height: 0.2vh;
      margin-bottom: 10px;
      margin-top: 10px;
    }

    .check-in-out-container{
      display: flex;
      justify-content: space-evenly;
      border: 1px solid black;
      border-radius: 5px;

      #check-in{
        border-right: 1px solid gray;
        padding: 5px;
        >div:first-child{
          text-align: left;
          font-size: 10px;
          font-weight: 600;
        }
        >label >input{
          font-size: small;
          text-align: start;
        }
      }

      #check-out{
        padding: 5px;
        >div:first-child{
          text-align: left;
          font-size: 10px;
          font-weight: 600;
        }
        >label >input{
          font-size: small;
          text-align: start;
        }
      }
    }

    .select-guests{
      .title{
      text-align: start;
      font-size: 12px;
      font-weight: 700;
      margin: 5px 0 5px 0;
      }
      .guest-dropdown{
        width: 100%;
        text-align: center;
        height: 30px;
        height: 33px;
        border-radius: 3px;
      }
    }
    
    .reserve-button{
      margin: 1vw;
      padding: 0.7vw;
      border-radius: 10px;
      width: 9vw;
      background-color: rgb(255, 56, 92);
      text-align: center;
      color: white;
      font-size: 0.8vw;
      font-weight: bold;
    }
  }
}

