.sticky-parent{
  position: relative;
  width: 35%;
  .price{
    padding-bottom: 2vh;
    font-size: 35px;
  }

  .sticky-header{
    display: flex;
    width: 90%;

    .price-per-night{
      padding-top: 17px;
      width: 100%;
    }

    .sticky-header-review{
      display: flex;
      justify-content: flex-end;
      width: 100%;
      padding-top: 10px;

      >div:first-child{
        padding-right: 8px;
      }

      >div:last-child{
        padding-top: 5px;
      }
    }
  }
  .reservation-info{
    position: sticky;
    position: -webkit-sticky;
    top: 5vh;
    margin-top: 5vh;
    padding-top: 3vh;
    border: 0.5px solid #c7c7c7;
    border-radius: 10px;
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14),
    0px 1px 18px 0px rgba(0, 0, 0, 0.12);

    .check-in-out{
      text-align: center;
      border: 1px solid gray;
      border-radius: 4px;
      height: 100px;

      .check-in-out-container{
        display: flex;
        justify-content: space-evenly;
        #check-in{
          border-right: 1px solid gray;
          padding: 5px;
          >label >input{
            font-size: small;
          }
        }

        #check-out{
          padding: 5px;

          >label >input{
            font-size: small;
          }
        }
      }

      .select-guests{
        border-top: 1px solid gray;

        .title{
        text-align: start;
        font-size: 12px;
        font-weight: 700;
        margin: 5px 0 5px 0;
        }
      }
    }
    }

    .guest-dropdown{
      width: 100%;
      text-align: center;
      height: 30px;
      height: 33px;
      border-radius: 3px;
    }

    .reserve-button{
      margin: 1vw;
      padding: 0.7vw;
      border-radius: 10px;
      width: 9vw;
      background-color: rgb(255, 56, 92);
      text-align: center;
      color: white;
      font-size: 0.8vw;
      font-weight: bold;
    }
  }

    .line {
      width: 12vw;
      margin-left: 7vw;
    }

    .total {
      display: flex;
      justify-content: space-between;
      width: 10vw;
    }


.line{
  margin-top: 3vh;
}

.reserve-button-inactive{
  margin: 1vw;
  padding: 0.7vw;
  border-radius: 10px;
  width: 9vw;
  background-color: rgb(151, 151, 151);
  text-align: center;
  color: white;
  font-size: 0.8vw;
  font-weight: bold;
}