.star:hover{
  cursor: pointer;
}
.reviews-index-item{

  .body{
    font-size: 0.9vw;
    font-weight: 100;
  }
}

.review-body1{
  display: flex;
  flex-direction: column;

  >textarea{
    border: solid gray 1px;
    border-radius: 10px;
    height: 19vh;
    width: 32vw;
    padding: 10px;
  }

  .post-review{
    background-color: #E30C79;
    color: white;
    width: 57px;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 75%;
    font-size: medium;
  }

  .post-review:hover{
    background-color: #F50B7C;
  }

}.reviews-edit{
  font-size: small;
  color: blue;
}

.reviews-delete{
  font-size: small;
  color: rgb(95, 95, 95);
  margin-left: 20px;
}

.review-rating > label > input{
  display: none;
}

.review-body-edit{
  >.body{
    width: 90%;
    border: solid gray 1px;
    border-radius: 10px;
    height: 10vh;
    padding: 10px;
  }

  .reviews-buttons{
    font-size: initial;
    display: flex;
    justify-content: flex-end;
  
    .update{
      background-color: #E30C79;
      width: 4vw;
      height: 4vh;
      text-align: center;
      border-radius: 5px;
      margin-top: 10px;
      color: white;
    }

    .update:hover{
      background-color: #F50B7C;
    }

    .close{
      margin: 20px;
    }
  }

}