.search-index-container{
  display: flex;
  padding: 10px;
}

.search-index-listings{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.search-index-listing-item{
  display: flex;
  padding: 15px;
  margin-right: 10px;
  border-bottom: 0.5px solid #e1e1e1;
}

.search-carousel-img{
  width: 300px;
  height: 200px;
  border-radius: 8px;
  object-fit: cover;
}

.search-listing-link{
  width: 30vw;
  padding: 0 10px;

  .search-city{
    color: gray;
  }
  .search-title{
    font-size: 20px;
    padding: 10px 0;
  }
  .search-line{
    background-color: #bebebe;
    padding: 0.1px;
    width: 50px;
  }
  .search-description{
    color: gray;
    padding-top: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-height: 1.4;
  }
  .search-review-and-cost{
    display: flex;
    justify-content: space-between;
    padding-top: 45px;

    .search-price{
      font-weight: bold;
    }
  }
}

.search-maps-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90vh;
  position: sticky;
  position: -webkit-sticky;
  top: 10px;
}

//=============================search_index_listing_item
.search-carousel-buttons{
  display: flex;
  position: absolute;
  width: 300px;
  height: 200px;
  justify-content: space-between;
}

.search-carousel-control-prev{
  margin-left: 2%;
}
.search-carousel-control-next{
  margin-right: 2%;
}

.search-carousel-buttons > button{
  margin-top: 27%;
  width: 30px;
  height: 30px;
}

//===================================== no-listings
.no-listing{
  text-align: center;

  >div:first-child{
    border-bottom: 1px solid #d1d1d1;
    padding: 1%;
    margin: 0 8%;
    font-weight: 600;
  }

  >div:nth-child(2){
    text-align: start;
    font-size: 1.2vw;
    padding: 1vw;
    padding-bottom: 0;
    font-weight: 600;
  }
}

.no-listing-cities{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 35px;
  padding: 1vw;
}

.no-listing-city{
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
  0px 6px 10px 0px rgba(0, 0, 0, 0.14),
  0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  border-radius: 15px;

  >img{
    width: 100%;
    height: 30vh;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
  }

  >div{
    font-size: larger;
    padding: 1vw;
    text-align: start;
  }
}