.search-index-container{
  display: flex;
  padding: 10px;
}

.search-index-listings{
  display: flex;
  flex-direction: column;
}

.search-index-listing-item{
  display: flex;
  padding: 15px;
  margin-right: 10px;
  border-top: 0.5px solid #e1e1e1;
}

.search-carousel-img{
  width: 300px;
  height: 200px;
  border-radius: 8px;
  object-fit: cover;
}

.search-listing-link{
  width: 30vw;
  padding-left: 0 10px;

  .search-city{
    color: gray;
  }
  .search-title{
    font-size: 20px;
    padding: 10px 0;
  }
  .search-line{
    background-color: #bebebe;
    padding: 0.1px;
    width: 50px;
  }
  .search-description{
    color: gray;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px 0;
  }
  .search-review-and-cost{
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
  }
}


.search-maps-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90vh;
}

// search_index_listing_item
.search-carousel-buttons{
  display: flex;
  position: absolute;
  width: 300px;
  height: 200px;
  justify-content: space-between;
}

.search-carousel-buttons > button{
  cursor: pointer;
  background-color: white;
  color: #222222;
  z-index: 5;
  margin-top: 80px;
  border-radius: 22px;
  width: 30px;
  height: 30px;
  font-family: cursive;
  text-align: -webkit-center;
  font-size: larger;
}

