// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.session-form > form > label > input {
  border: black solid 1px;
}

.session-form-extra {
  border: black solid 1px;
}

.session-form-type {
  position: absolute;
  left: 20vw;
  top: 2vh;
  font-size: larger;
  font-weight: bold;
}

.session-form-close-button {
  position: absolute;
  top: -1vh;
}

.session-form-close-button:hover {
  cursor: pointer;
}

.session-form-welcome {
  padding-top: 4vh;
  position: relative;
  font-size: x-large;
}

.session-form {
  display: flex;
  flex-direction: column;
  width: 40vw;
}

.submit-button {
  display: flex;
  justify-content: center;

  border: black solid 2px;
  border-radius: 2px;
  padding: 5px;
  margin-top: 20px;
}

.demobutton {
  display: flex;
  justify-content: center;

  border: black solid 2px;
  border-radius: 2px;
  padding: 5px;
  margin-top: 20px;
}