// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.session-form > input {
  height: 5vh;
  border-radius: 4px;
  border: 1px solid #c4c4c4;
  padding-left: 5px;
  margin-bottom: 10px;
}

.session-form-extra {
  height: 5vh;
  border-radius: 4px;
  border: 1px solid rgb(124, 124, 124);
}

.session-form-type {
  text-align: center;
  font-family: sans-serif;
  font-size: 25px;
  margin-bottom: 20px;
  color: #5a5a5a;
}

.session-form-close-button {
  font-family: sans-serif;
  position: absolute;
  top: 2vh;
}

.session-form-close-button:hover {
  cursor: pointer;
}

.session-form {
  display: flex;
  flex-direction: column;
  width: 30vw;
}

.submit-button {
  display: flex;
  justify-content: center;

  border-radius: 4px;
  padding: 8px;
  margin-top: 20px;

  font-family: sans-serif;
  height: 3vh;

  background-color: #E30C79;
  color: white;
  font-weight: 760;
}

.submit-button:hover{
  background-color: #F50B7C;
}

.demobutton {
  display: flex;
  justify-content: center;

  border-radius: 4px;
  padding: 8px;
  margin-top: 20px;
  font-family: sans-serif;
  height: 3vh;

  background-color: #E30C79;
  color: white;
  font-weight: 760;
}

.demobutton:hover{
  background-color: #F50B7C;
}

.session-errors{
  color: red;
}

.session-line{
  background-color: #d1d1d1;
  width: 100%;
  padding: 0.5px;
  margin: 2vh;
}

.session-footer{
  >div{
    display: flex;
    justify-content: center;

    >div{
      margin-right: 1vw;
    }

    >button{
      color: #df2b4b;
      font-weight: 600;
    }
  }
}