.dropdown-img {
  position: absolute;
  right: 1vw;
  top: 1vh;
  width: 7vw;
  height: 7vh;
}

.dropdown-ul {
  position: absolute;
  top: 10vh;
  right: 2vw;
  z-index: 5;
  background-color: white;
  padding: 5px;
  border: black solid 2px;
  border-radius: 10px;
  font-family: sans-serif;
  font-size: large;
  padding: 19px;
  width: 10vw;

  li:first-child {
    border-bottom: 2px black solid;
    padding: 13px;
  }
  li{
    padding: 13px;
  }

}

.dropdown-list {
  position: absolute;
  right: 5vw;
  z-index: 5;
  background-color: white;
  font-size:  xx-large;
  padding: 5px;
  border-radius: 7px;
  
  li {
    border: black 1px solid;
    border-radius: 3px;
  }
}
