.user-show {
  display: flex;
  flex-direction: column;
}

//Personal Info================
.personal-info{
  font-size: 32px;
  font-weight: 600;
  color: rgb(72, 72, 72);
  margin: 3vw;

}

.user-personal-info-container{
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 16px;
  border: 0.5px solid #d5d3d3;
  border-radius: 15px;
  margin: 1vw;
  color: rgb(31, 30, 30);
}

.user-personal-info-container > div {
  color: rgb(15, 15, 15);
  margin-top: 1vw;
  margin-left: 3vw;
  font-weight: 600;

  >div{
  font-weight: 0;
  font-weight: 100;
  padding-top: 1vw;
  padding-bottom: 2vw;
  border-bottom: 1px solid #d3d0d0;
  }

}
//Reservations================
.reservations{
  background-color: red;
}
//Listings===================
.listings-container{
  box-shadow: 0px 2px 16px;
  border: 0.5px solid #d5d3d3;
  border-radius: 15px;
  margin: 1vw;
}

.listing-text{
  margin: 3vw;
  font-size: 32px;
  font-weight: 600;
  color: rgb(72, 72, 72);
  
}

.user-listings{
  display: grid;
  grid-template-columns: repeat(4, 23vw);
  row-gap: 2vh;
  margin: 2vw;
  margin-left: 3vw;

  .user-listing{
    font-size: 2vw;
    width: 22vw;
    border-radius: 17px;
    box-shadow: 0px 2px 16px;
    height: 60vh;

    .listing-img {
      width: 2vw;
      height: 2vw;
    }
  }

}

.user-listing-icon{
  width: 22vw;
  height: 33vh;
  border-radius: 17px;
  padding-bottom: 18px;
  object-fit: cover;
}

.user-listing-title{
  padding-left: 1.5vw;
  padding-bottom: 2vh;
  font-size: 2vw;
  font-weight: 600;
}

.user-listing-street{
  padding-left: 1.5vw;
  font-weight: 700;
  font-size: 1.5vw;
}

.user-listing-address{
  font-size: 1.5vw;

  >p{
    padding-left: 1.5vw;

  }
}

.line{
  background-color: rgb(204, 204, 204);
  height: 0.2vh;
  margin-bottom: 1vh;
  margin-left: 1vw;
  margin-right: 1vw;
}

.user-listing-price{
  text-align: end;
  padding-right: 1vw;
  font-weight: 700;
  font-size: 1.5vw;
}