.user-show {
  display: flex;
  flex-direction: column;
}

//Personal Info================
.personal-info{
  font-size: 32px;
  font-weight: 600;
  color: rgb(72, 72, 72);
  margin: 3vw;

}

.user-personal-info{
  display: flex;
  flex-direction: column;

  color: rgb(31, 30, 30)

}

.user-personal-info > div {
  color: rgb(15, 15, 15);
  font-size: 2vw;
  margin-top: 1vw;
  margin-left: 3vw;
  font-weight: 600;

  >div{
  font-weight: 0;
  font-weight: 100;
  padding-top: 1vw;
  padding-bottom: 2vw;
  border-bottom: 1px solid #d3d0d0;
  }

  
  
  
}
//Reservations================
.reservations{
  background-color: red;
}
//Listings===================
.listings{
  margin: 3vw;
  font-size: 32px;
  font-weight: 600;
  color: rgb(72, 72, 72);
}

.user-listings{
  display: grid;
  grid-template-columns: repeat(2, 23vw);
  margin: 2vw;
  margin-left: 3vw;

  .user-listing{
    font-size: 2vw;
    width: 32vw;
    border-radius: 17px;
    box-shadow: 0px 2px 16px;
    height: 64vh;

    .listing-img {
      width: 2vw;
      height: 2vw;
    }
  }

}

.user-listing-icon{
  width: 32vw;
  height: 33vh;
  border-radius: 17px;
  padding-bottom: 18px;
  object-fit: cover;
}

.user-listing-title{
  padding-left: 2vw;
  padding-bottom: 2vh;
  font-size: 3vw;
  font-weight: 600;
}

.user-listing-address{
  font-size: 2vw;

  .user-listing-street{
    padding-left: 2vw;
    font-weight: 700;
  }

  >p{
    padding-left: 2vw;

  }
}

.line{
  background-color: rgb(204, 204, 204);
  height: 0.2vh;
  margin-bottom: 1vh;
}

.user-listing-price{
  text-align: end;
  padding-right: 1vw;
  font-weight: 700;
  font-size: large;
}