//Listings===================
.listings-container{
  margin: 1vw;
}

.listing-text{
  margin: 3vw;
  font-size: 32px;
  font-weight: 600;
  color: rgb(72, 72, 72);
}

.user-listings{
  display: grid;
  grid-template-columns: repeat(4, 23vw);
  row-gap: 2vh;
  margin: 2vw;
  margin-left: 3vw;

  .user-listing{
    font-size: 2vw;
    width: 22vw;
    border: 1px solid #b8b7b7;
    border-radius: 17px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .listing-img {
      width: 2vw;
      height: 2vw;
    }
  }

  .user-listing:hover{
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14),
    0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  }

}

.user-listing-icon{
  width: 22vw;
  height: 37vh;
  border-radius: 17px;
  padding-bottom: 18px;
  object-fit: cover;
}

.user-listing-title{
  padding-left: 1vw;
  font-size: 1.2vw;
  font-weight: 600;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.user-listing-street{
  padding-left: 1vw;
  font-weight: 700;
  font-size: 1vw;
  
}

.user-listing-address{
  font-size: 1.5vw;

  >p{
    padding-left: 1vw;
    font-size: 1vw;
  }
}

.line{
  background-color: rgb(204, 204, 204);
  height: 0.2vh;
  margin-bottom: 1vh;
  margin-left: 1vw;
  margin-right: 1vw;
}

.user-listing-price{
  text-align: end;
  padding-right: 1vw;
  font-weight: 700;
  font-size: 1vw;
  padding-bottom: 10px;
}

.user-listing-buttons{
  display: flex;
  justify-content: space-around;
  margin: 5px 0;
  
  button{
    background-color: #E30C79;
    color: white;
    padding: 10px;
    margin: 5px 0;
    border-radius: 8px;
    font-weight: 600;
  }

  button:hover{
    background-color: #F50B7C;
  }
}

.no-listing-container{
  display: flex;
  justify-content: space-between;
  width: 90vw;
  border: 1px solid #b8b7b7;
  border-radius: 17px;

  .no-listing-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;

    .no-listing-header{
      font-size: 40px;
    }
    >button{
      background-color: #F50B7C;
      color: white;
      width: fit-content;
      font-weight: 600;
      border-radius: 5px;
      margin-top: 5vh;
      padding: 15px;
    }
    >button:hover{
      background-color: #E30C79;
    }
  }
  .no-listing-bg{
    background-image: url(https://res.cloudinary.com/de8carnhu/image/upload/v1642788330/cole-keister-cX-KEISwDIw-unsplash_m69vze.jpg);
    background-size: cover;
    width: 90vh;
    height: 60vh;
    border-radius: 0 17px 17px 0;
  }
}