.dropdown-img {
  position: absolute;
  right: 1vw;
  top: -1vh;
  width: 10vw;
  height: 10vh;
  
}

.dropdown-ul {
  position: absolute;
  right: 8vw;
  z-index: 5;
  background-color: white;
  font-size:  xx-large;
  padding: 5px;

  border-radius: 3px;

  li {
    border-bottom: 2px black solid;
  }
}

.dropdown-list {
  position: absolute;
  right: 8vw;
  z-index: 5;
  background-color: white;
  font-size:  xx-large;
  padding: 5px;
  // border: black solid 1px;
  
  li {
    border: black 1px solid;
    border-radius: 3px;
  }
}
